body {
    height: 20rem;
}

.container {
    border: 1px solid red;
    box-sizing: border-box;
    max-width: 20rem;
    padding: 0.25rem;
}

#result {
    max-width: 100%;
}

#resultArea {
    box-sizing: border-box;
    max-width: 100%;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}