body {
    height: 25rem;
    width: 15rem;
}

.auth-container {
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 80%;
    margin: auto;
    margin-bottom: 0.2rem;
}

.form-group input {
    width: 100%;
}

.form-group a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black
}

.form-group a:hover {
    text-decoration: underline;
}

#signUpScreen {
    display: none;
}

#addCVScreen {
    display: none;
}